<VirtualHost *:80>
        ServerName {{ mydomain }}
        ServerAlias www.{{ mydomain }}
        DocumentRoot {{ docroot }}

        # Force HTTPS when loading the page
        #RewriteEngine On
        #RewriteCond %{HTTPS} off
        #RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

        <Directory {{ docroot }}>
                Options -Indexes +FollowSymLinks -MultiViews
                AllowOverride All
        </Directory>

        CustomLog /var/log/httpd/{{ mydomain }}-access.log combined
        ErrorLog /var/log/httpd/{{ mydomain }}-error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn
</VirtualHost>

#<VirtualHost *:443>
#        ServerName {{ mydomain }}
#        ServerAlias www.{{ mydomain }}
#        DocumentRoot {{ docroot }}
#        <Directory {{ docroot }}>
#                Options -Indexes +FollowSymLinks -MultiViews
#                AllowOverride All
#        </Directory>
#
#        CustomLog /var/log/httpd/{{ mydomain }}-ssl-access.log combined
#        ErrorLog /var/log/httpd/{{ mydomain }}-ssl-error.log
#
#        # Possible values include: debug, info, notice, warn, error, crit,
#        # alert, emerg.
#        LogLevel warn
#
#        SSLEngine on
#        SSLCertificateFile    /etc/pki/tls/certs/{{ mydomain }}.crt
#        SSLCertificateKeyFile /etc/pki/tls/private/{{ mydomain }}.key
#        SSLCertificateChainFile /etc/pki/tls/private/{{ mydomain }}.ca.crt
#
#        <FilesMatch "\.(cgi|shtml|phtml|php)$">
#                SSLOptions +StdEnvVars
#        </FilesMatch>
#
#        BrowserMatch "MSIE [2-6]"                 nokeepalive ssl-unclean-shutdown                 downgrade-1.0 force-response-1.0
#        BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
#</VirtualHost>
